@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="column-layout master-view-container">
    <IgbNavbar class="navbar" master_view-scope>
        <IgbIconButton slot="start" Variant="IconButtonVariant.Flat" @onclick="@(e => _navDrawer!.ToggleAsync())">
            <span class="material-icons">
                menu
            </span>
            <IgbRipple></IgbRipple>
        </IgbIconButton>
        <div class="row-layout group">
            <h6 class="h6">
                App Name
            </h6>
        </div>
        <IgbIconButton slot="end" Variant="IconButtonVariant.Flat">
            <span class="material-icons">
                search
            </span>
            <IgbRipple></IgbRipple>
        </IgbIconButton>
        <IgbIconButton slot="end" Variant="IconButtonVariant.Flat">
            <span class="material-icons">
                favorite
            </span>
            <IgbRipple></IgbRipple>
        </IgbIconButton>
        <IgbIconButton slot="end" Variant="IconButtonVariant.Flat">
            <span class="material-icons">
                more_vert
            </span>
            <IgbRipple></IgbRipple>
        </IgbIconButton>
    </IgbNavbar>
    <div class="row-layout group_1">
        <IgbNavDrawer Open="true" Position="NavDrawerPosition.Relative" @ref="_navDrawer" class="nav-drawer" master_view-scope>
            <IgbNavDrawerHeaderItem @onclick="@(e => Navigate("/view_1"))">
                <div>Genset</div>
            </IgbNavDrawerHeaderItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/genset"))">
                <span slot="icon">
                    <span class="material-icons icon">
                        local_gas_station
                    </span>
                    <IgbRipple></IgbRipple>
                </span>
                <div slot="content">Fueling</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem>
                <span slot="icon">
                    <span class="material-icons icon">
                        precision_manufacturing
                    </span>
                    <IgbRipple></IgbRipple>
                </span>
                <div slot="content">Mount/Unmount</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerHeaderItem @onclick="@(e => Navigate("/view_1"))">
                <div>View 1</div>
            </IgbNavDrawerHeaderItem>
            <IgbNavDrawerItem>
                <span slot="icon">
                    <span class="material-icons icon">
                        dashboard
                    </span>
                    <IgbRipple></IgbRipple>
                </span>
                <div slot="content">View 3</div>
            </IgbNavDrawerItem>
        </IgbNavDrawer>
        <div class="view-container">
            @Body
        </div>
    </div>
</div>

@code {
    private IgbNavDrawer _navDrawer;

    public void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
