.column-layout {
    display: flex;
    flex-direction: column;
}
.genset-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.row-layout {
    display: flex;
}
.group {
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    padding: 16px;
    height: 10rem;
    min-width: 50px;
    min-height: 50px;
    max-height: 10rem;
    flex-shrink: 0;
}
.tabs {
    min-width: 0;
    min-height: 0;
    flex-grow: 1;
    flex-shrink: 0;
}
.group_1 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
    min-height: 50px;
}
.expansion-panel {
    height: max-content;
    min-width: 0;
    min-height: 0;
    flex-grow: 1;
    flex-basis: 0;
}
.group_2 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 1rem;
    position: relative;
    padding: 1rem 0 0;
    min-width: 50px;
    min-height: 50px;
}
.group_3 {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1rem;
    min-width: 50px;
    min-height: 50px;
    flex-shrink: 0;
}
.group_4 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    min-width: 50px;
    min-height: 50px;
}
.expansion-panel_1 {
    min-width: 0;
    min-height: 0;
    flex-grow: 1;
    flex-basis: 0;
}
.group_5 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 1rem;
    position: relative;
    padding: 0.5rem 0 0;
    min-width: 50px;
    min-height: 50px;
}
.group_6 {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0.5rem;
    position: relative;
    padding: 0;
    min-width: 50px;
    min-height: 50px;
    flex-shrink: 0;
}
.group_7 {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1rem;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-shrink: 0;
}
.group_8 {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-shrink: 0;
}
.group_9 {
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    min-width: 50px;
    min-height: 50px;
    align-self: flex-end;
    flex-shrink: 0;
}
.h2 {
    height: max-content;
    min-width: min-content;
    align-self: center;
    flex-grow: 1;
    flex-basis: 0;
}
.icon {
    --size: 24px;
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: var(--ig-primary-100);
}
.text {
    color: var(--ig-primary-100);
    height: max-content;
    min-width: min-content;
}
.icon_1 {
    --size: 24px;
    font-size: 24px;
    width: 24px;
    height: 24px;
}
.tab-item-content {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    overflow: auto;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
.tab-item-content_1 {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0;
    overflow: auto;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
.grid {
    --ig-size: var(--ig-size-medium);
    min-width: 600px;
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
}
.grid_1 {
    --ig-size: var(--ig-size-medium);
    min-width: 300px;
    min-height: 300px;
}
.form {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 0.5rem;
    padding: 1rem;
    min-width: 50px;
    min-height: 50px;
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
}
.select {
    height: max-content;
    min-width: 180px;
    flex-grow: 1;
    flex-basis: 0;
}
.user-input {
    height: max-content;
    min-width: 120px;
    flex-grow: 1;
    flex-basis: 0;
}
.dropdown {
    left: 0;
    top: 0;
    position: absolute;
    min-width: min-content;
    flex-grow: 1;
}
.user-input_1 {
    width: max-content;
    height: max-content;
}
.textarea {
    height: max-content;
    min-width: 240px;
    flex-grow: 1;
    flex-shrink: 0;
}
.button {
    --ig-size: var(--ig-size-large);
    position: relative;
    height: max-content;
    min-width: 10rem;
    flex-shrink: 0;
}
.dropdown::part(base) {
    height: max-content;
}
.button::part(base) {
    color: var(--ig-surface-500);
}
